{
	margin:0px;
	padding:0px;
}
.title{
	color:white;
	background-color:blue;
	font-size: 20px;
	font-family:verdana;
	width:100%;
	height:80px;
	position:relative;
    bottom:0px;

}
.main{
	padding:75px;
	text-align: center;
	width:50%;
	height:400px;
	background: white;
	margin:auto;
	font-family:verdana;
	top: 50%;
    left: 50%;
    position: absolute;
    margin-top: -200px;
    margin-left: -450px;
	background-position: relative;
	border:2px solid white;
	box-shadow: 0 15px 40px rgba(0,0,0,.5);
}
.main input[type="LOGIN"]
{
	text-align:center;
	outline:none;
	height:40px;
	width:30%;
	color:white;
	background-color:blue;
}
.main input[type="text"]
{
	outline:none;
	height:40px;
	width:30%;
}
.main input[type="password"]
{
	outline:none;
	height:40px;
	width:30%;
}
.btn{
	color:white;
	background-color: #34d63be6;
}